@import url(../../../shared/constants/styles.constants.css);

.button {
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 4px;
}

.main-button {
  background-color: var(--basic-color);
  border-bottom: 5px solid var(--dark-basic-color);
}

.usual-button {
  background-color: var(--usual-color);
  border-bottom: 5px solid var(--dark-usual-color);
}
