:root {
  --main-color: #000;
  --light-color: #fff;
  --basic-color: #3cff33;
  --dark-basic-color: #07a400;
  --usual-color: #4ed4ff;
  --dark-usual-color: #0086b1;
  --bright-color: gold;
  --error-color: red;
}
