.car-setting {
  display: flex;
  margin-bottom: 5px;
}

.field {
  width: 156px;
  height: 24px;
  border: none;
  outline: none;
  margin-right: 4px;
}

.color-input {
  height: 22px;
  margin-right: 4px;
}
