.car-setting {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.name-field {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--bright-color);
  padding-left: 15px;
  box-sizing: border-box;
}
